# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout
*.js text eol=lf
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Explicitly declare binary files to not be modified
*.onnx binary
*.pt binary
*.zip binary
*.tar.gz binary
*.tgz binary
*.png binary
*.jpg binary

# Exclude from GitHub language stats
docs/* linguist-vendored
tests/* linguist-vendored
models/* linguist-vendored
